@{
    ViewData["Title"] = "Index";
}
<ul>
    <li>
        <a class="nav-link" asp-controller="Admin" asp-action="ManageBooks">Zarządzaj książkami</a>
    </li>
    <li>Zarządzaj czytelnikami</li>
    <li>Zarządzaj pracownikami</li>
    <li>Zarządzaj zasdami wypożyczeń</li>
</ul>