@model BorrowCartViewModel

<table class="table">
    <thead>
        <tr>
            <th>
                <p>Tytuł</p>
            </th>
            <th>
                <p>Autor</p>
            </th>
            <th>
                <p>Ilość</p>
            </th>
            <th>
                <p>Data zwrotu</p>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var borrowItem in Model.BorrowCart.BorrowCartItems) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => borrowItem.Book.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => borrowItem.Book.AuthorFullname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => borrowItem.ItemCount)
            </td>
            <td>
                @{
                    string stringForDisplay = borrowItem.BorrowedDate.AddDays(borrowItem.DaysToReturn).ToString();
                }
                @Html.DisplayFor(modelItem => stringForDisplay)
            </td>
            <td>
                <a asp-action="ConfirmBorrowing">Wypożycz</a>
            </td>
        </tr>
}
    </tbody>
</table>

    