@using BibliotekaMVCApp.Models.Book
@model HomeViewModel

<h2>Niedawno dodane książki</h2>

@if(Model.RecentlyAddedBooks.Count < 1)
{
    <p>Brak książek do pokazania!</p>
}
else
{
    @foreach(var item in Model.RecentlyAddedBooks)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <p>Tytuł</p>
                    </th>
                    <th>
                        <p>Autor</p>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AuthorFullname)
                    </td>
                    <td>
                        <a asp-controller="Book" asp-action="Details" asp-route-id="@item.BookId">Szczegóły</a> | 
                        @if(item.Status == (int)Status.Dostępne)
                        {
                            <a asp-controller="BorrowCart"
                        asp-action="AddToBorrowCart"
                        asp-route-bookId="@item.BookId">Dodaj do koszyka</a>
                        }
                        else
                        {
                            <p class="disabled">Dodaj do koszyka</p>
                        }
                    </td>
                </tr>
            </tbody>
        </table>
    }
}


<h2>Aktualności</h2>

@foreach(var item in Model.Posts.OrderByDescending(p => p.CreatedOn))
{
    <partial name="_PostCard" model="item" />
}
